<h2>Hey there, <%= @display_name %>. Your opponent is <%= @opponent %></h2>
<p> Let's place your ships!! </p>
<p> Ship to place: <%= @next_ship.name %> </p>
<% if flash[:error] %>
    <%= flash[:error] %>
<% end %>

<form name="deployment" action=<%= "/deploy/#{@current_player}"%> method="post">
    <label for="coordinate">Coordinate</label>
    <input type="text" name="coordinate" placeholder="e.g. C1">
    <input type="hidden" name="direction" value="">
    <input type="radio" name="direction", id="R" value="R">Right
    <input type="radio" name="direction", id="D" value="D">Down
    <input type="submit" value="Submit!">
</form>


<section>
    <table class="left">
    <tr>
      <th></td>
      <th>A</td>
      <th>B</td>
      <th>C</td>
      <th>D</td>
      <th>E</td>
      <th>F</td>
      <th>G</td>
      <th>H</td>
      <th>I</td>
      <th>J</td>
    </tr>  

    <tr>
        <% index = 0
          @board.grid.each do |row|
            index += 1%>
            <td><%= index %></td>
        <% row.each do |column| %>
            <% if column.to_s == '-' %>
              <td>-</td>
            <% elsif column.to_s == '#' %>
                <% if column.orientation == "R" %>
                  <td><img class="stretch" src="/images/ships/batt2.gif"></td>
                <% else %>
                  <td><img class="tall" src="/images/ships/batt7.gif"></td>
                <% end %>
            <% elsif column.to_s == 'X' %>
                <% if column.orientation == "R" %>
                  <td><img class="stretch" src="/images/ships/batt202.gif"></td>
                <% else %>
                  <td><img class="tall" src="/images/ships/batt205.gif"></td>
                  <% end %>  
            <% elsif column.to_s == 'O' %>
              <td>O</td>    
            <% end %>
        <% end %>
    </tr>
    <% end %>
    </table>
</section>    