<h2>Let's Shoot!</h2>

<h3>Try and hit one of <%= @opponent %>'s ships!</h3>

<% if flash[:error] %>
    <%= flash[:error] %>
<% end %>

<form name="shoot" action=<%="/start_shooting/#{@attacker}"%> method="post">
    <label for="coordinate">Coordinate</label>
    <input type="text" name="coordinate" placeholder="e.g. C4" autofocus>
    <input type="submit" value="Fire Away!">
</form>

<section>
    <table>
    <caption class="bold">Shooting Board</caption>
    <tr>
      <th></td>
      <th>A</td>
      <th>B</td>
      <th>C</td>
      <th>D</td>
      <th>E</td>
      <th>F</td>
      <th>G</td>
      <th>H</td>
      <th>I</td>
      <th>J</td>
    </tr>  

    <tr>
        <% index = 0
          @shooting_board.grid.each do |row|
            index += 1%>
            <td><%= index %></td>
        <% row.each do |column| %></td>
            <td><%= column %></td>
        <% end %>
    </tr>
    <% end %>
    </table>
</section>

<section>
    <table>
    <caption class="bold">Your Board</caption>
    <tr>
      <th></td>
      <th>A</td>
      <th>B</td>
      <th>C</td>
      <th>D</td>
      <th>E</td>
      <th>F</td>
      <th>G</td>
      <th>H</td>
      <th>I</td>
      <th>J</td>
    </tr>  

    <tr>
        <% index = 0
          @player_board.grid.each do |row|
            index += 1%>
            <td><%= index %></td>
        <% row.each do |column| %></td>
            <td><%= column %></td>
        <% end %>
    </tr>
    <% end %>
    </table>
</section>  